# torch
torch

# transformers+
transformers>=0.48
accelerate
bitsandbytes>=0.45
datasets<3.0
gguf
huggingface-hub[cli]
hqq
openai
optimum
peft
sentencepiece
tokenizers
trl

# to use safecoder
libcst
sacrebleu
termcolor
yamlize

# basic
bitarray
ipykernel
ipython
matplotlib
numpy<2.0
pandas
seaborn
scipy
sympy
tqdm
